.featureItemWithBg {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
}

.featureOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

.featureContent {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  color: white;

  h4, p, a {
    color: white;
  }

  h4 a {
    color: white;
    transition: color 0.3s ease;

    &:hover {
      color: #ffc107;
    }
  }

  p {
    color: rgba(255, 255, 255, 0.9);
  }
}
